<footer class="align-items-lg-end" style="background: #343a40;color: rgb(52,58,64);"><span class="copyright" style="color: rgb(254,209,54);">RoadOn © 2021</span>
    <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" style="color: rgb(254,209,54);"></i></a></li>
        <li class="list-inline-item"><a href="#" style="color: rgb(254,209,54);"><i class="fa fa-facebook"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" style="color: rgb(254,209,54);"></i></a></li>
    </ul>
</footer>